
/******************************************
/* BASE STYLES
/*******************************************/


body {
    color: #121212;
    font-size: 16px;
    line-height: 1.4;
    font-family: Arial, sans-serif;
    font-weight: 300;
    background-color: #f0efef;
}

a {
    text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* BASE STYLES
/*******************************************/




header {
	background: #121212;
	width: 100%;
  padding-top: 32px;

}

h1 {
	color: yellow;
	font-weight: bolder;
	font-size: 32px;
  font-family: serif;
  padding-left: 125px;
}


h2 {
	color: black;
	font-weight: bold;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 20px;
  font-family: serif;

}

h3 {
  color: black;
  font-weight: bold;
  font-size: 24px;
  font-family: sans-serif;

}

nav{
 	 background:#121212;  
 	 overflow:auto;

 }

nav ul{
 	 float:right;

}

nav ul li{
  	display:inline-block;
    padding-right: 20px;
    padding-bottom: 20px;

}

ul li a{
 	  color:white;
  	font-size:16px;
  	text-decoration: none;
}

u {
  text-decoration-color: yellow;
}

#header2 {
    background: lightgray;
    text-align: center;
}

.three_column {
    overflow:auto;

}

.container {
	max-width: 960px;
	margin: 0 auto;
}


aside {
    background: #f9e42e;
    padding: 30px;
    text-align: center;
}

footer {
    background-color: #121212;;
    padding: 65px 0 45px;
    text-align: left;
    color: white;
}


.button {
    border-radius: 5px;
    font-weight: bold;
    padding: 12px; 0;
    width: 150px;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: gray;
    color: black;
}


.yellow {
    background: yellow;
    color: black;
    font-size: 14px; 
}

#coffee_shop {
  background-image: url("../images/coworking.jpg");
  width: 1024px;
  height: 664px;

}

.coffee_profile {
  width: 300px;
  height: 400px;
  background: white;
  opacity: 0.8;
  margin-top:20px;
  margin-bottom:20px;
  margin-right: 20px;
  float: right;
  box-shadow:1px 1px 1px grey

}

